/* form */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #15273f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #15275f;
}
*:not(a):not(b):not(facebook-bg ss-icon){
    background-color: #efefef;
}

.demo-buttons{
    text-align: center;
    margin-top: 20px;
}

.container {
    border-radius: 5px;
    padding: 40px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*  makes the two columns stack on top of each other */
@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}





/* end social*/
.line {
    max-width: 1300px;
    margin: auto;
    margin-left: 10%;
}

hr{
    width: 80%;   
}


.cl h2{
margin-bottom: 30px;    
}




/*response time graph*/

#skill2 { 
	list-style: none;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 50%;
	margin: 50px auto 0;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}

#skill2 li { 
	margin-bottom:50px; 
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
	height:20px; 
	border-radius:10px; 
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}

#skill2 li h3 { 
	position:relative; 
	top:-25px;
    text-align: left;
}

.bar2 { 
	height:16px; 
	margin:1px 2px;  
	position:absolute;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.monday {
	width:35%; 
	-moz-animation:monday 2s ease-out;
	-webkit-animation:monday 2s ease-out;
	background-color: #e3b71a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#15273f), to(#15273f));
	background-image: -webkit-linear-gradient(top, #15273f, #15273f);
	background-image: -moz-linear-gradient(top, #15273f, #15273f);
	background-image: -ms-linear-gradient(top, #15273f, #15273f);
	background-image: -o-linear-gradient(top, #15273f, #15273f);
	background-image: linear-gradient(top, #15273f, #15273f);
}

.tuesday {
	width:30%;
	-moz-animation:tuesday 2s ease-out;
	-webkit-animation:tuesday 2s ease-out;
	background-color: #f0bb4b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3b71a), to(#e3b71a));
	background-image: -webkit-linear-gradient(top, #15273f, #15273f);
	background-image: -moz-linear-gradient(top, #15273f, #15273f);
	background-image: -ms-linear-gradient(top, #15273f, #15273f);
	background-image: -o-linear-gradient(top, #15273f, #15273f);
	background-image: linear-gradient(top, #15273f, #15273f);
}

.wednesday {
	width:25%;
	-moz-animation:wednesday 2s ease-out;
	-webkit-animation:wednesday 2s ease-out;
	background-color: #a1ce5b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3b71a), to(#e3b71a));
	background-image: -webkit-linear-gradient(top, #15273f, #15273f);
	background-image: -moz-linear-gradient(top, #15273f, #15273f);
	background-image: -ms-linear-gradient(top, #15273f, #15273f);
	background-image: -o-linear-gradient(top, #15273f, #15273f);
	background-image: linear-gradient(top, #15273f, #15273f);
}

.thursday {
	width:40%;
	-moz-animation:thursday 2s ease-out;
	-webkit-animation:thursday 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3b71a), to(#e3b71a));
	background-image: -webkit-linear-gradient(top, #15273f, #15273f);
	background-image: -moz-linear-gradient(top, #15273f, #15273f);
	background-image: -ms-linear-gradient(top, #15273f, #15273f);
	background-image: -o-linear-gradient(top, #15273f, #15273f);
	background-image: linear-gradient(top, #15273f, #15273f);
}

.friday {
	width:80%;
	-moz-animation:friday 2s ease-out;
	-webkit-animation:friday 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3b71a), to(#e3b71a));
	background-image: -webkit-linear-gradient(top, #15273f, #15273f);
	background-image: -moz-linear-gradient(top, #15273f, #15273f);
	background-image: -ms-linear-gradient(top, #15273f, #15273f);
	background-image: -o-linear-gradient(top, #15273f, #15273f);
	background-image: linear-gradient(top, #15273f, #15273f);
}

.saturday {
	width:100%;
	-moz-animation:saturday 2s ease-out;
	-webkit-animation:saturday 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3b71a), to(#e3b71a));
	background-image: -webkit-linear-gradient(top, #15273f, #15273f);
	background-image: -moz-linear-gradient(top, #15273f, #15273f);
	background-image: -ms-linear-gradient(top, #15273f, #15273f);
	background-image: -o-linear-gradient(top, #15273f, #15273f);
	background-image: linear-gradient(top, #15273f, #15273f);
}

.sunday {
	width:100%;
	-moz-animation:sunday 2s ease-out;
	-webkit-animation:sunday 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3b71a), to(#e3b71a));
	background-image: -webkit-linear-gradient(top, #15273f, #15273f);
	background-image: -moz-linear-gradient(top, #15273f, #15273f);
	background-image: -ms-linear-gradient(top, #15273f, #15273f);
	background-image: -o-linear-gradient(top, #15273f, #15273f);
	background-image: linear-gradient(top, #15273f, #15273f);
}

@-moz-keyframes monday {0%  { width:0px;} 100%{ width:35%;}  }
@-moz-keyframes tuesday        { 0%  { width:0px;} 100%{ width:30%;}  }
@-moz-keyframes wednesday      { 0%  { width:0px;} 100%{ width:25%;}  }
@-moz-keyframes thursday   { 0%  { width:0px;} 100%{ width:40%;}  }
@-moz-keyframes friday {0%  { width:0px;} 100%{ width:80%;}  }
@-moz-keyframes saturday {0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes sunday {0%  { width:0px;} 100%{ width:100%;}  }

@-webkit-keyframes monday       { 0%  { width:0px;} 100%{ width:35%;}  }
@-webkit-keyframes tuesday        { 0%  { width:0px;} 100%{ width:30%;}  }
@-webkit-keyframes wednesday      { 0%  { width:0px;} 100%{ width:25%;}  }
@-webkit-keyframes thursday   { 0%  { width:0px;} 100%{ width:40%;}  }
@-webkit-keyframes friday       { 0%  { width:0px;} 100%{ width:80%;}  }
@-webkit-keyframes saturday       { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes sunday       { 0%  { width:0px;} 100%{ width:100%;}  }