body {margin:0;}

/* top nav */


.menubar {
  overflow: hidden;
  background-color: #15273f;
}

.menubar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
  
}

.menubar b {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 7px 0px ;
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    margin-right: 50px;
    margin-left: 15px;
    
}

 a:hover {
  background-color: #e3b71a;
  color: black;
}

.current {
  background-color: #e3b71a;
  color: black;
}

.space {
    margin-top: 20px;
    background-color: #15273f;
    color: #15273f;
}

.space:hover {
    background-color: #15273f;
    color: #15273f;
}



.menubar .icon {
  display: none;
}






/* hire me button */

.button{
	float: right;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 10%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    
}

.button5:hover {
    background-color: #555555;
    color: white;
}




                                        /* progress bar */

#skill { 
	list-style: none;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: auto;
	margin: 50px auto 0;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}

#skill li { 
	margin-bottom:50px; 
	background:#e9e5e2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
	background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
	height:10px; 
	border-radius:10px; 
	-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
	box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
}

#skill li h3 { 
	position:relative; 
	top:-25px;
    text-align: center;
}

.bar { 
	height:8px; 
	margin:1px 2px;  
	position:absolute;
	border-radius:10px;
	-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
	-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.graphic-design {
	width:100%; 
	-moz-animation:graphic-design 2s ease-out;
	-webkit-animation:graphic-design 2s ease-out;
	background-color: #e3b71a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
	background-image: -webkit-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -moz-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -ms-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -o-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: linear-gradient(top, #e3b71a, #e3b71a);
}

.web-dev {
	width:30%;
	-moz-animation:web-dev 2s ease-out;
	-webkit-animation:web-dev 2s ease-out;
	background-color: #f0bb4b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3b71a), to(#e3b71a));
	background-image: -webkit-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -moz-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -ms-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -o-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: linear-gradient(top, #e3b71a, #e3b71a);
}

.javac {
	width:65%;
	-moz-animation:javac 2s ease-out;
	-webkit-animation:javac 2s ease-out;
	background-color: #a1ce5b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3b71a), to(#e3b71a));
	background-image: -webkit-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -moz-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -ms-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -o-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: linear-gradient(top, #e3b71a, #e3b71a);
}

.procrastination {
	width:80%;
	-moz-animation:procrastination 2s ease-out;
	-webkit-animation:procrastination 2s ease-out;
	background-color: #66b3cc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3b71a), to(#e3b71a));
	background-image: -webkit-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -moz-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -ms-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: -o-linear-gradient(top, #e3b71a, #e3b71a);
	background-image: linear-gradient(top, #e3b71a, #e3b71a)	
}

@-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes web-dev        { 0%  { width:0px;} 100%{ width:30%;}  }
@-moz-keyframes javac      { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes procrastination   { 0%  { width:0px;} 100%{ width:80%;}  }

@-webkit-keyframes graphic-design       { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes web-dev        { 0%  { width:0px;} 100%{ width:30%;}  }
@-webkit-keyframes javac      { 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes procrastination   { 0%  { width:0px;} 100%{ width:80%;}  }



                                    /* adjusting content size */

@media screen and (max-width: 970px) {
  .menubar a:not(:first-child) {display: none;}
  .menubar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 970px) {
  .menubar.responsive {position: relative;}
  .menubar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menubar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}


  /* background color  */
* :not(a):not(b){
    box-sizing: border-box;
    background-color: #efefef;
}


.mainpage {
    background-color: #efefef;
    padding: 0px;
    font-family: Arial;
}

 /* Center website */
.main {
    max-width: 1000px;
    margin: auto;
    background-color: #efefef;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 0px 0px;
    margin-bottom: 30px;
}

/* padding BETWEEN each column */
.row,
.row > .column {
    padding-top: 30px;
    
    
}

/* Create 3 equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
    background-color: #efefef;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #efefef;
    padding: 0px 10px 10px 10px ;
	
}

/* aligns text to the right in the first column  */
.content h2, h4, p{
    text-align: right;
}





/* under the progress bar etc... */

.main2 {
    max-width: 1000px;
    margin: auto;
}
.main2 h2{
    text-align: center;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row2 {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row2,
.row2 > .column2 {
    padding: 8px;
}

/* Create two equal columns that floats next to each other */
.column2 {
    float: left;
    position:static;
    width: 50%;
}

/* Clear floats after rows */ 
.row2:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content2 {
    background-color: white;
    padding: 10px;
}

.content2 p{
    background-color: white;
    text-align: left;
}

.content2 h3{
    background-color: white;
}

/* makes  one column-layout instead of two columns */
@media (max-width: 1130px) {
    .column2 {
        width: 100%;
    }
}





/* Responsive layout - makes a two column-layout instead of three columns */
@media (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* footer */
.footer {
   
   left: 0;
   bottom: 0;
   width: 100%;
    height: 40px;
   background-color: #15273f;
   color: white;
   text-align: center;
}

.footer p{
    padding: 10px;
    background-color: #15273f;
    text-align: center;
}